* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(34, 76, 175);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(226, 226, 226);
}

.container {
  display: flex;
  flex-direction: column;
}

.container div {
  display: flex;
  padding: 10px;
}

.container button {
  margin-left: 10px;
  padding: 2px 8px;
}
