* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(34, 76, 175);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(226, 226, 226);
}

.container {
  display: flex;
}

.container button {
  margin-left: 10px;
  padding: 2px 8px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
.left div {
  display: flex;
  margin-top: 3px;
}
.right {
  border-left: 3px solid black;
}
.right .test {
  margin-top: 10px;
}
